<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/home.css">
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<link rel="icon" type="image/x-icon" href="https://icons-for-free.com/iconfiles/png/512/captain+captain+america+marvel+icon-1320166749986756830.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>

    
    <!--<title>Dashboard Sidebar Menu</title>--> 
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="https://icons-for-free.com/iconfiles/png/512/captain+captain+america+marvel+icon-1320166749986756830.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Captain America</span>
                    <span class="profession">Free discord bot</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <!-- <input type="text" placeholder="Search..."> -->
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-code-alt icon' ></i>
                            <span class="text nav-text" >Home</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
							<i class='bx bx-shield-alt-2 icon' ></i>
                            <span class="text nav-text" onclick="location='https://astroruxx.github.io'" target='_blank'>Astroruxx</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-user-voice icon' ></i>
                            <span class="text nav-text">Reviews</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Wallets</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a onclick="login()">
                        <i class='bx bx-log-in icon' ></i>
                        <span class="text nav-text" onclick="login()">Login</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">
        <div class="text">Astroruxx</div>
		<div class="container">
			<h1 class="text" id="anylitics" text_align="center">Analytics and Statistics Card</h1>
			<br>
			<br>
			<div class="row">
				<div class="col-sm-4 offset-sm-2">
					<div class="stat-card">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">Guilds</p>
							<h2>
								<%= guilds %>
							</h2>
						</div>
						<div class="stat-card__icon stat-card__icon--success">
							<div class="stat-card__icon-circle">
								<i class="fa fa-suitcase"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="stat-card">
						<div class="stat-card__content">
							<p class="text-uppercase mb-1 text-muted">Users</p>
							<h2>
								<%= users %>
							</h2>
						</div>
						<div class="stat-card__icon stat-card__icon--primary">
							<div class="stat-card__icon-circle">
								<i class="fa fa-users"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    </section>

    <script>
        const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
    sidebar.classList.remove("close");
})

modeSwitch.addEventListener("click" , () =>{
    body.classList.toggle("dark");
    
    if(body.classList.contains("dark")){
        modeText.innerText = "Light mode";
    }else{
        modeText.innerText = "Dark mode";
        
    }
});
    </script>


	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->

	<script>
		function login() {
			window.location.href = '/login'
		}
	</script>
</body>

</html>