<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is a Dashboard</h1>
    <p>I have made this dashboard for you to find recent information about the shield discord bot</p>
    <p>First you will have to press the login button in the top right hand corner of the web page.</p>
    <p>once you have done this you should be redirected to the dashboard page where i will update all the commands and info about shield</p>
</body>
</html>